<!doctype html>
<html ⚡ lang="de">
  <head>
    <meta charset="utf-8">
    <title>1LIVE Informant</title>
    <link rel="canonical" href="{{urlOrigin}}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <style amp-custom>
        {{{styles}}}
    </style>

    <script type="application/ld+json">
        {
      "@context": "http://schema.org",
      "@type": "WebPage",
      "headline": "1LIVE Informant",
      "alternativeHeadline": "Infos aus NRW und der digitalen Welt",
      "publisher": {
        "@type": "Organization",
        "name": "wdr.de",
        "logo": {
          "@type": "ImageObject",
          "url": "https://www1.wdr.de/resources/img/wdr/logo/wdr_logo_print.png",
          "height": 36,
          "width": 117
          }
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{urlOrigin}}"
      },
      "url": "{{urlOrigin}}",
      "isAccessibleForFree": true,
      "inLanguage": {
      	"@type": "Language",
        "name": "German"
        }
    }
    </script>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  </head>
  <body>
    <header class="container">
      <div class="logo"><svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9600 9600" preserveAspectRatio="xMidYMid meet">
        <path d="M 3205.2386,4668.9905 3032.6566,2472.1022 4222.8166,674.37313 6491.614,1148.9736 6865.5416,4784.0451 6074.5408,8893.7172 4740.5625,9123.8265 2313.565,8361.5894 Z" id="path2" style="fill:#000000;stroke:none" /> <g stroke="none" fill="#ff0099" id="layer102"> <path id="path5" d="M 589.65515,4454.836 C 659.97826,3368.892 1191.0051,2238.9567 1999.0748,1510.0924 2739.1348,842.57166 3817.7701,509.52665 4814.3818,503.36415 5832.0269,497.07159 6959.744,799.08052 7701.5981,1495.7106 8548.3994,2290.8903 9003.6935,3552.6195 9039.1085,4713.709 9069.0719,5696.0665 8727.5088,6764.8328 8075.5257,7500.2524 7255.3237,8425.4185 5976.1443,9079.0909 4740.5625,9123.8265 3658.8708,9162.9903 2466.4654,8706.6513 1725.8199,7917.3256 894.63946,7031.5142 511.15782,5667.008 589.65515,4454.836 Z M 5004.5986,9124.8748 6370,3985 H 3643.3034 L 2481.742,8444.9287 Z M 5415,3656 c 451,-100 815,-416 968,-842 52,-145 72,-265 72,-439 0,-235 -40,-401 -147,-606 -178,-343 -502,-589 -888,-674 -117,-26 -347,-31 -472,-10 -488,80 -886,419 -1038,886 -44,134 -61,244 -61,404 0,21.4533 0.3751,42.4332 1.1397,63.003 7.3259,197.0822 50.4056,356.5205 141.8603,533.997 186,363 526,614 933,689 121,23 377,20 490,-5 z" /> </g> <g fill="#ffffff" stroke="none" id="layer103"> <path id="path10" d="M0 4800 l0 -4800 4800 0 4800 0 0 4800 0 4800 -4800 0 -4800 0 0 -4800z m5144 4065 c529 -47 1004 -179 1466 -409 1222 -609 2054 -1769 2234 -3116 169 -1259 -260 -2525 -1160 -3424 -766 -767 -1802 -1196 -2884 -1196 -1083 0 -2118 429 -2884 1196 -767 766 -1196 1802 -1196 2884 0 1374 687 2648 1838 3408 761 503 1682 737 2586 657z" /> <path id="path12" d="m 4040,5830 h -410 c 60.4743,-229.802 117.2188,-454.6399 181,-680 h 999 v 2860 h -770 z" /> </g>
      </svg></div>
      <h1 class="button button__informant">1LIVE Informant</h1>
    </header>
    <article class="container">
      <h2 class="description">Deine Infos aus NRW und der digitalen Welt.<br>Täglich aufs Handy.</h2>
      <div class="claims">
        <p class="highlight"><span>Gemacht von den 1LIVE Infos</span></p>
        <p class="highlight"><span>Deine Infos hier lesen: Ohne Konto, ohne Anmeldung</span></p>
        <p class="highlight"><span>Im Facebook-Messenger nutzen: Bekomme deine Nachrichten morgens oder abends aufs Handy. Oder frage den Informant nach deinen Themen.</span></p>
      </div>
      <div class="center">
        <a href="https://m.me/1LIVE.Informant/?ref=stats-amp-index"
           class="button button__messenger"
           target="_blank">
          <i></i> Im Messenger nutzen </a>
      </div>
      <div class="push">
        <h3 class="title">Jetzt beim 1LIVE Informant:</h3>
        <ul>
          {{#reports}}
            <li><a href="{{makeURL id created headline}}">{{headline}}</a></li>
          {{/reports}}
        </ul>
      </div>
    </article>
    <footer class="container">
      <div class="links">
        <span>© WDR 2018</span>
        <a href="https://www1.wdr.de/radio/1live/einslive-impressum-100.html">Impressum</a>
      </div>

      <a href="{{urlOrigin}}sitemap.xml" class="sitemap">Sitemap</a>
    </footer>
    <amp-analytics type="{{webtrekkVersion}}">
      <script type="application/json">
      {
        "vars": {
          "trackDomain": "{{webtrekkTrackDomain}}",
          "trackId": "{{webtrekkId}}",
          "domain": "{{webtrekkDomain}}",
          "contentId": "{{webtrekkContentID}}"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview",
            "vars": {
              "pageParameter3": "AMP"
            }
          }
        }
      }
      </script>
    </amp-analytics>
  </body>
</html>
