<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <title>{{report.headline}}</title>
    <link rel="canonical" href="{{url}}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-custom>
      body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        padding: 1rem 2rem;
      }
      .container {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
      }
      header {
        display: flex;
        justify-content: flex-start;
        margin-bottom: .5rem;
        max-width: 900px;
      }
      .logo {
        height: 2.5rem;
        margin-right: .5rem;
      }
      .brand {
        background-color: #f09;
        color: white;
        display: inline-block;
        padding: .5rem;
        margin: 0;
        font-size: 1.5rem;
      }
      h1 {
        margin-top: 2rem;
      }
      .fragments {
        display: flex;
        flex-direction: column;
      }
      .bubble {
        padding: 1rem;
        border-radius: 1rem;
        display: inline-block;
        max-width: 90%;
        margin-top: 2rem;
        margin-bottom: 0;
      }
      .fragments > *:first-child {
        margin-top: 0;
      }
      .bubble-user {
        background-color: #42b3f4;
        color: white;
        align-self: flex-end;
      }
      .bubble-bot {
        background-color: #d8d8d8;
      }
      .image {
        border-radius: 1rem;
        margin-top: 2rem;
      }
      .image + .bubble-bot {
        border-top-left-radius: .2rem;
        margin-top: .5rem;
      }
      .bubble-bot + .image {
        margin-top: .5rem;
      }
      footer {
        margin-top: 3rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
      }
    </style>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "{{report.headline}}",
      "image": [
        "{{report.media}}"
      ],
      "datePublished": "{{report.created}}"
    }
    </script>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
  </head>
  <body>
    <header class="container">
        <svg class="logo" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9600 9600" preserveAspectRatio="xMidYMid meet">
            <g id="layer101" fill="#000000" stroke="none">
             <path d="M0 4800 l0 -4800 4800 0 4800 0 0 4800 0 4800 -4800 0 -4800 0 0 -4800z"/>
            </g>
            <g id="layer102" fill="#ff0099" stroke="none">
             <path d="M0 4800 l0 -4800 4800 0 4800 0 0 4800 0 4800 -4800 0 -4800 0 0 -4800z m5024 4074 c9 -3 21 -25 27 -48 6 -22 73 -270 149 -551 76 -280 211 -778 300 -1105 89 -327 215 -791 280 -1030 65 -239 173 -637 240 -885 68 -247 172 -630 231 -849 60 -220 109 -405 109 -413 0 -11 -225 -13 -1357 -11 l-1357 3 -52 190 c-28 105 -107 393 -174 640 -67 248 -175 646 -240 885 -65 239 -191 703 -280 1030 -89 327 -210 775 -270 995 -60 220 -112 412 -115 426 -6 24 1 31 87 86 542 351 1177 568 1833 627 153 14 561 21 589 10z m391 -5218 c451 -100 815 -416 968 -842 52 -145 72 -265 72 -439 0 -235 -40 -401 -147 -606 -178 -343 -502 -589 -888 -674 -117 -26 -347 -31 -472 -10 -488 80 -886 419 -1038 886 -44 134 -61 244 -61 404 0 227 42 401 143 597 186 363 526 614 933 689 121 23 377 20 490 -5z"/>
             <path d="M4040 6920 l0 -1090 -205 0 c-150 0 -205 -3 -205 -12 0 -9 102 -389 166 -615 l15 -53 499 0 500 0 0 1430 0 1430 -385 0 -385 0 0 -1090z"/>
            </g>
            <g id="layer103" fill="#ffffff" stroke="none">
             <path d="M0 4800 l0 -4800 4800 0 4800 0 0 4800 0 4800 -4800 0 -4800 0 0 -4800z m5144 4065 c529 -47 1004 -179 1466 -409 1222 -609 2054 -1769 2234 -3116 169 -1259 -260 -2525 -1160 -3424 -766 -767 -1802 -1196 -2884 -1196 -1083 0 -2118 429 -2884 1196 -767 766 -1196 1802 -1196 2884 0 1374 687 2648 1838 3408 761 503 1682 737 2586 657z"/>
             <path d="M4040 6920 l0 -1090 -205 0 c-150 0 -205 -3 -205 -12 0 -9 102 -389 166 -615 l15 -53 499 0 500 0 0 1430 0 1430 -385 0 -385 0 0 -1090z"/>
            </g>
        </svg>
        <p class="brand">1LIVE Informant</p>
    </header>
    <article class="container">
      <h1>{{report.headline}}</h1>
      <section class="fragments">
        {{#report.media}}
          <amp-img class="image"
                   layout=responsive
                   src="{{.}}"
                   width="{{../report.mediaSize.width}}"
                   height="{{../report.mediaSize.height}}"></amp-img>
        {{/report.media}}
        <p class="bubble bubble-bot">
          {{report.text}}
        </p>
        {{#fragments}}
          {{#question}}
          <p class="bubble bubble-user">{{.}}</p>
          {{/question}}
          {{#media}}
          <amp-img class="image"
                   layout=responsive
                   src="{{.}}"
                   width="{{../mediaSize.width}}"
                   height="{{../mediaSize.height}}"></amp-img>
          {{/media}}
          <p class="bubble bubble-bot">{{text}}</p>
        {{/fragments}}
      </section>
    </article>
    <footer class="container">
      <span>© WDR 2018</span>
      <a href="https://www1.wdr.de/radio/1live/einslive-impressum-100.html">Impressum</a>
    </footer>
  </body>
</html>
